p#vtip { 
display: none; 
position: absolute; 
padding:5px 8px; 
left: 5px; 
font-size: 85%; 
background-color: white; 
border: 1px solid #dddddd;
/*
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
*/
z-index: 9999;
}

p#vtip #vtipArrow {
position: absolute;
top: -10px;
left: 5px;
}