<% breadcrumb :control_banners_edit %>

<!-- ## Cake View Content Start ## -->
<article class="adminBlock">
<header class="adminTitle">
<h2>登録バナーの編集</h2>
</header>

<article class="adminContentList adminContact">
<header>
<h3>ここではバナーを編集することが出来ます。</h3>
</header>
<section>
<div class="adminContentsBody">
<% if @banner.errors.any? %>
	<% @banner.errors.full_messages.each do |message| %>
		<p><span class="requierd"><%= message %></span></p>
	<% end %>
<% end %>
<ol class="magt10 magb10 padl20">
<li><span class="requierd">*</span>が付いている項目は必須項目になります。</li>
<li>タイトルは256文字まで入力可能です。</li>
<li>本文・リンクURLは1000字まで入力可能です。</li>
<li>画像の容量は合計2MB以内までです。</li>
<li>バナー画像は300×80のサイズで投稿して下さい。<br><span class="requierd">※指定サイズ以外はエラーになります。</span></li>
</ol>

<%= render 'form' %>
