<header id="globalHeader">
<div class="subNav">
<p>大塚で見つける出会いのもの</p>
<ul>
<li><span>・</span><a href="/smartphones/appli">iOS版アプリについて</a></li>
<li><span>・</span><a href="/catalogs/index">カタログ情報</a></li>
<li><span>・</span><a href="/newstopics/index">ニュース&amp;トピック</a></li>
</ul>
</div>
<div class="mainNav">
<h1><a href="/">大塚「珍しいもん」ストア　-Official Blog-</a></h1>
<nav>
<ul>
<li class="gNavi01"><a href="/specials/">特集記事の一覧</a></li>
<li class="gNavi02"><a href="/abouts/">このブログについて</a></li>
<li class="gNavi03"><a href="/contacts/">お問い合わせ</a></li>
</ul>
</nav>
</div>
</header>