<aside class="slideGallery">
<div id="slide">
<ul id="scroller">
<li><a href="#" class="vtip" title="<strong class='vTitle'><span>●</span>&nbsp;</strong><br>"><img src="/img/slide/" width="360" height="250" alt=""></a></li>
</ul>
</div>
</aside>