<footer id="globalFooter">
<div id="footerSub1">
<h2><img src="/images/common/footer_logo.png" width="310" height="60" alt=""></h2>
<section>
<p class="whatsThat">大塚で出会える珍しい商品・気になった商品を紹介している、大塚「珍しいもん」Storeの管理画面です。<br>サイト全体の管理をここで行います。</p>
<p class="footerBanner">
<a href="#"><img src="/images/sample/sample_footer_banner.png" width="320" height="74" alt=""></a>
</p>
</section>
</div>
<div id="footerSub2">
<section id="sponsors">
<header>
<h3>管理画面の説明</h3>
</header>
<div>

</div>
</section>
<section id="perdate">
<header>
<h3>使用の際の諸注意</h3>
</header>
<div>

</div>
</section>
<section id="copyright">
<p class="copyrightText">Copyright &copy; 2013 大塚「珍しいもん」Store All Rights Reserved.</p>
<p class="toTop"><a href="#wrapper">▲&nbsp;Back To Top</a></p>
</section>
</div>
</footer>