<!-- ## Sidebar Content Start ## -->
<aside class="adminSide magb40">
<header class="adminSideHeader">
<h4>ブログの管理</h4>
</header>
<!--
<section class="adminSidePanel">
<header>
<h5>ユーザーの管理</h5>
</header>
<div>
<ul>
<li><a href="#">ユーザーの一覧</a></li>
<li><a href="#">CSVファイルダウンロード</a></li>
</ul>
</div>
</section>
-->
<!--
<section class="adminSidePanel">
<header>
<h5>会員専用情報の管理</h5>
</header>
<div>
<ul>
<li><a href="/control/members_topics">会員専用情報の一覧</a></li>
<li><a href="#">会員発行クーポンの一覧</a></li>
</ul>
</div>
</section>
-->
<section class="adminSidePanel">
<header>
<h5>記事の管理</h5>
</header>
<div>
<ul>
<li><a href="/control/archives">記事の管理</a></li>
<li><a href="/control/categories">記事カテゴリーの管理</a></li>
<li>記事ピクチャーの管理&nbsp;<span class="requierd">※準備中</span></li>
</ul>
</div>	
</section>
<section class="adminSidePanel">
<header>
<h5>コメントの管理</h5>
</header>
<div>
<ul>
<li><a href="/control/comments">コメント（記事部分）の管理</a></li>
<li><a href="/control/catalogs_comments">コメント（大塚Catalogs）の管理</a></li>
</ul>
</div>	
</section>
<section class="adminSidePanel">
<header>
<h5>ビジュアルの管理</h5>
</header>
<div>
<ul>
<li><a href="/control/slides/index">スライドショーの管理</a></li>
<li><a href="/control/banners/index">サイドバナーの管理</a></li>
</ul>
</div>
</section>
<section class="adminSidePanel">
<header>
<h5>ブログ以外のコンテンツの管理</h5>
</header>
<div>
<ul>
<li><a href="/control/specials/index">特集記事の管理</a></li>
<li><a href="/control/newstopics/index">ニュース&amp;トピックの管理</a></li>
<li><a href="/control/catalogs/index">カタログ情報の管理</a></li>
<li><a href="/control/showcases/index">ショーケースの管理</a></li>
</ul>
</div>
</section>
<section class="adminSidePanel">
<header>
<h5>お問い合わせの管理</h5>
</header>
<div>
<ul>
<li><a href="/control/contacts/index">お問い合わせの一覧</a></li>
<li><a href="/control/contacts/csvdownload">お問い合わせの一覧のCSVファイルダウンロード</a></li>
</ul>
</div>
</section>
<section class="adminSidePanel">
<header>
<h5>アンケートの管理</h5>
</header>
<div>
<ul>
<li><a href="/control/posts/index">アンケートの一覧</a></li>
<li><a href="/control/posts_enquetes/index">アンケート回答結果の一覧</a></li>
<li><a href="/control/posts_enquetes/csvdownload">アンケート回答結果のCSVファイルダウンロード</a></li>
</ul>
</div>
</section>
</aside>

<!--
<aside class="adminSide">
<header class="adminSideHeader">
<h4>ショップの管理 ※現在開発中</h4>
</header>
<section class="adminSidePanel">
<header>
<h5>商品管理</h5>
</header>
<div>
<ul>
<li><a href="#">商品の一覧</a></li>
<li><a href="#">商品の追加</a></li>
</ul>
</div>
</section>
<section class="adminSidePanel">
<header>
<h5>ショップの最新情報の管理</h5>
</header>
<div>
<ul>
<li><a href="#">最新情報の一覧</a></li>
<li><a href="#">最新情報の追加</a></li>
</ul>
</div>	
</section>
<section class="adminSidePanel">
<header>
<h5>受注データ</h5>
</header>
<div>
<ul>
<li><a href="#">受注データの一覧</a></li>
</ul>
</div>	
</section>
<section class="adminSidePanel">
<header>
<h5>購買データ</h5>
</header>
<div>
<ul>
<li><a href="#">購買データの一覧</a></li>
</ul>
</div>
</section>
<section class="adminSidePanel">
<header>
<h5>おすすめ商品の管理</h5>
</header>
<div>
<ul>
<li><a href="#">おすすめ商品の一覧</a></li>
<li><a href="#">おすすめ商品の追加</a></li>
</ul>
</div>
</section>
<section class="adminSidePanel">
<header>
<h5>お問い合わせの管理</h5>
</header>
<div>
<ul>
<li><a href="#">お問い合わせの一覧</a></li>
</ul>
</div>
</section>
<section class="adminSidePanel">
<header>
<h5>末締め処理の管理</h5>
</header>
<div>
<ul>
<li><a href="#">今月末締め請求一覧（2013年3月）</a></li>
<li><a href="#">前月末締め請求一覧（2013年2月）</a></li>
<li><a href="#">前々月末締め請求一覧（2013年1月）</a></li>
</ul>
</div>
</section>
</aside>
-->
<!-- ## Sidebar Content End ## -->